layout {
  default_tab_template {
    pane size=1 borderless=true {
      plugin location="zellij:tab-bar"
    }
    children
    pane size=2 borderless=true {
      plugin location="zellij:status-bar"
    }
  }
  pane_template name="nvim" {
    pane split_direction="horizontal" {
      pane size="70%" {
        borderless true
        command "nu" 
        args "-e nvim"
      }
      children
    }
  }
  tab name="rusty-photon" cwd="~/repos/rusty-photon/" focus=true {
    nvim {
      pane { 
        borderless true
        command "bacon"
        args "--job" "test"
      }
    }
  }
  tab name="qhyccd-alpaca" cwd="~/repos/qhyccd-alpaca/" {
    nvim {
      pane { 
        borderless true
        command "bacon"
        args "--job" "test"
      }
    }
  }
  tab name="qhyccd-rs" cwd="~/repos/qhyccd-rs/" {
    nvim {
      pane { 
        borderless true
        command "bacon"
        args "--job" "test" "--" "--test-threads" "1"
      }
    }
  }
  tab name="cargo info" cwd="~" {
    pane {
      borderless true
      command "nu"
    }
  }
}
