name: ConformU

permissions:
  contents: read

on:
  push:
    branches: [main]
  pull_request:

jobs:
  conformu:
    name: ConformU Tests
    runs-on: ${{ matrix.os }}
    concurrency:
      group: ${{ github.workflow }}-${{ matrix.os }}-${{ github.head_ref || github.run_id }}
      cancel-in-progress: true
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - uses: actions/checkout@v6

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Get latest ConformU version
        id: conformu-version
        uses: pozetroninc/github-action-get-latest-release@master
        with:
          repository: ASCOMInitiative/ConformU
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install ConformU
        id: conformu
        uses: ivonnyssen/conformu-install@main

      - uses: actions/cache@v5
        with:
          key: ${{ steps.conformu.outputs.cache-key }}
          path: |
            conformu.linux-x64.tar.xz
            ConformU.*.Setup.exe
            ConformU-Installer.dmg

      - name: Build project
        run: cargo build --all --release

      - name: Run ConformU tests
        timeout-minutes: 10
        run: cargo test --test conformu_integration -- --ignored
